<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Mercado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cs2-bg">
  <!-- Searchbar para buscar skins -->
  <ion-searchbar placeholder="Buscar skin o caja..." color="dark"></ion-searchbar>

  <ion-list class="inventory-list">
    <ion-list-header>
      <ion-label>Tendencias de Hoy</ion-label>
    </ion-list-header>

    <ion-item class="cs-item item-mil-spec">
      <ion-thumbnail slot="start">
        <img src="https://img.icons8.com/color/96/box--v1.png" alt="Caja" />
      </ion-thumbnail>
      <ion-label>
        <h2>Dreams & Nightmares Case</h2>
        <p>Container</p>
      </ion-label>
      <div class="price-info" slot="end">
        <h3 class="current-price">$0.85</h3>
        <span class="profit positive">+12.5%</span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
