.cs2-bg {
  --background: #121212;
}

.stats-container {
  padding: 10px;
}

.stats-card {
  background: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);

  ion-card-title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }
  
  ion-card-subtitle {
    color: #aaa;
  }

  &.ct-border {
    border-top: 3px solid #5d79ae;
  }
}

.profit {
  font-weight: bold;
  &.positive { color: #4caf50; }
  &.negative { color: #f44336; }
}

.inventory-list {
  background: transparent;
  
  ion-list-header {
    color: #e4b341;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.cs-item {
  --background: #1a1a1a;
  --color: #fff;
  margin: 5px 10px;
  border-radius: 5px;
  
  /* Indicador de rareza en el borde izquierdo */
  &.item-covert { border-left: 4px solid #eb4b4b; }     /* Rojo */
  &.item-restricted { border-left: 4px solid #8847ff; } /* Morado */

  ion-thumbnail {
    --size: 60px;
    background: #2a2a2a;
    border-radius: 4px;
    padding: 2px;
  }

  h2 { font-weight: bold; }
  p { color: #aaa; font-size: 0.8rem; }
}

.price-info {
  text-align: right;
  display: flex;
  flex-direction: column;

  .current-price {
    color: #fff;
    font-weight: bold;
    margin: 0 0 5px 0;
  }
  .buy-price {
    color: #888;
    font-size: 0.75rem;
  }
}